n8n-workflow-template/02 - Content Generation Pipeline.json
{
  "name": "02 - Content Generation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "86ff5a6e-e874-405c-879b-7c6ab51655c0",
      "name": "Content Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        -368
      ],
      "webhookId": "content-generate",
      "notes": "ENTRY POINT: Receives content generation requests.\n\nExpected JSON payload:\n{\n  \"topic\": \"WordPress Security Best Practices\",\n  \"keywords\": [\"wordpress security\", \"wp hardening\"],\n  \"wordCount\": 1500,\n  \"tone\": \"professional|casual|technical\",\n  \"contentType\": \"blog|product|landing\",\n  \"includeImages\": true,\n  \"seoOptimize\": true\n}\n\nTest: POST http://localhost:5678/webhook/content-generate"
    },
    {
      "parameters": {
        "jsCode": "/**\n * CONTENT BRIEF VALIDATOR\n * \n * Validates and enriches content generation request with defaults\n * and SEO requirements.\n */\n\nconst input = $input.item.json.body || $input.item.json;\n\n// Validate required field\nif (!input.topic) {\n  throw new Error('topic is required');\n}\n\n// Create comprehensive content brief\nconst contentBrief = {\n  // User-provided data\n  topic: input.topic,\n  keywords: input.keywords || [],\n  wordCount: input.wordCount || 1000,\n  tone: input.tone || 'professional',\n  contentType: input.contentType || 'blog',\n  includeImages: input.includeImages !== false, // default true\n  seoOptimize: input.seoOptimize !== false, // default true\n  \n  // Generated metadata\n  requestId: `content_${Date.now()}`,\n  timestamp: new Date().toISOString(),\n  \n  // SEO parameters\n  seo: {\n    targetKeywords: input.keywords || [],\n    metaDescriptionLength: 155,\n    titleLength: 60,\n    headerStructure: ['H2', 'H3'],\n    keywordDensity: '1-2%'\n  },\n  \n  // Content structure requirements\n  structure: {\n    introduction: true,\n    sections: Math.ceil(input.wordCount / 300), // ~300 words per section\n    conclusion: true,\n    callToAction: true\n  }\n};\n\nreturn { json: contentBrief };"
      },
      "id": "46617017-d1a1-44c1-924f-1eed13424652",
      "name": "Validate Content Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -224
      ],
      "notes": "VALIDATION: Prepares comprehensive content brief.\n\nSets defaults:\n- Word count: 1000\n- Tone: professional\n- Type: blog post\n- Images: enabled\n- SEO: enabled\n\nAdds structure:\n- Introduction\n- Multiple sections\n- Conclusion\n- Call-to-action\n\nCalculates optimal section count based on word count"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "56baab92-6c0c-454c-9376-474508d551be",
      "name": "AI Featured Image Generator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        304,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      },
      "notes": "IMAGE GENERATION: Creates featured image.\n\nOnly runs if includeImages = true\n\nModel: DALL-E 3\n- Highest quality\n- Better prompt understanding\n- Natural, realistic style\n\nSettings:\n- Size: 1792x1024 (wide format)\n- Quality: HD\n- Style: Natural (photorealistic)\n\nPrompt includes:\n- Article title\n- Topic/theme\n- Style requirements\n\nNote: Costs ~$0.04-0.08 per image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_WORDPRESS_SITE_URL/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $('Parse & Validate Content').item.json.title.replace(/[^a-z0-9]/gi, '-').toLowerCase() }}.png\""
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.imageUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f675103c-23c4-4350-af75-1ef9bbf75a41",
      "name": "Upload Image to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        704,
        32
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_BASIC_AUTH_CREDENTIAL_ID",
          "name": "Unnamed credential"
        },
        "wordpressApi": {
          "id": "YOUR_WORDPRESS_CREDENTIAL_ID",
          "name": "Wordpress account 2"
        }
      },
      "notes": "MEDIA UPLOAD: Uploads generated image to WordPress.\n\nUses WordPress Media REST API:\n- POST /wp-json/wp/v2/media\n\nFilename format:\n- Sanitized article title + .png\n- Example: wordpress-security-tips.png\n\nReturns:\n- Media ID (used for featured image)\n- Image URL\n- Thumbnail URLs\n\nHandles:\n- Large file uploads\n- Proper MIME types\n- WordPress media library integration"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_WORDPRESS_SITE_URL/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Parse & Validate Content').item.json.title }}"
            },
            {
              "name": "content",
              "value": "={{ $('Parse & Validate Content').item.json.content }}"
            },
            {
              "name": "excerpt",
              "value": "={{ $('Parse & Validate Content').item.json.excerpt }}"
            },
            {
              "name": "status",
              "value": "draft"
            },
            {
              "name": "featured_media",
              "value": "={{ $if($('Upload Image to WordPress').isExecuted, $('Upload Image to WordPress').item.json.id, null) }}"
            },
            {
              "name": "meta",
              "value": {
                "_yoast_wpseo_metadesc": "={{ $('Parse & Validate Content').item.json.metaDescription }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "bdaae1e5-df9a-48fa-aa19-ee19113a023b",
      "name": "Create WordPress Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        976,
        -128
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_BASIC_AUTH_CREDENTIAL_ID",
          "name": "Unnamed credential"
        },
        "wordpressApi": {
          "id": "YOUR_WORDPRESS_CREDENTIAL_ID",
          "name": "Wordpress account"
        }
      },
      "notes": "POST CREATION: Creates draft post in WordPress.\n\nUses WordPress Posts REST API:\n- POST /wp-json/wp/v2/posts\n\nSets:\n- Title (SEO-optimized)\n- Content (HTML formatted)\n- Excerpt (summary)\n- Status: DRAFT (for review)\n- Featured image (from previous step)\n- Yoast SEO meta description\n\nWhy draft?\n- Allows human review\n- Prevents auto-publishing mistakes\n- Quality control checkpoint\n\nCan be changed to 'publish' if auto-publish desired"
    },
    {
      "parameters": {
        "jsCode": "/**\n * TAG PROCESSOR\n * \n * Processes suggested tags and creates them in WordPress if needed.\n */\n\nconst content = $('Parse & Validate Content').item.json;\nconst wordpressSiteUrl = $('Validate Content Brief').item.json.wordpressSiteUrl;\n\n// Prepare tags for WordPress\nconst tags = content.suggestedTags.map(tag => ({\n  name: tag,\n  slug: tag.toLowerCase().replace(/[^a-z0-9]+/g, '-')\n}));\n\nreturn {\n  json: {\n    tags,\n    wordpressSiteUrl,\n    postId: $('Create WordPress Post').item.json.id\n  }\n};"
      },
      "id": "272848a3-3550-4f95-a08c-09d74cefb887",
      "name": "Process Tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -368
      ],
      "disabled": true,
      "notes": "TAG PROCESSING: Prepares tags for WordPress.\n\nConverts AI-suggested tags to WordPress format:\n- Name: Display name\n- Slug: URL-friendly version\n\nExample:\n- Tag: \"WordPress Security\"\n- Slug: \"wordpress-security\"\n\nNext step will:\n1. Check if tags exist\n2. Create new tags if needed\n3. Assign to post"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_WORDPRESS_SITE_URL/wp-json/wp/v2/posts/{{ $json.postId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tags",
              "value": "={{ $json.tags.map(t => t.slug) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "78990aaa-7215-4c89-8755-19bee5182f8e",
      "name": "Assign Tags to Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1392,
        -352
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_BASIC_AUTH_CREDENTIAL_ID",
          "name": "Unnamed credential"
        },
        "wordpressApi": {
          "id": "YOUR_WORDPRESS_CREDENTIAL_ID",
          "name": "Wordpress account"
        }
      },
      "disabled": true,
      "notes": "TAG ASSIGNMENT: Adds tags to post.\n\nUpdates post with tags via:\n- POST /wp-json/wp/v2/posts/{id}\n\nWordPress will:\n- Create new tags automatically\n- Assign existing tags\n- Update tag counts\n\nNo manual tag creation needed!"
    },
    {
      "parameters": {
        "jsCode": "/**\n * SUCCESS RESPONSE GENERATOR\n * \n * Creates comprehensive success response with all details.\n */\n\nconst content = $('Parse & Validate Content').item.json;\nconst post = $('Create WordPress Post').item.json;\nconst brief = $('Validate Content Brief').item.json;\n\nconst response = {\n  success: true,\n  message: 'Content generated and posted successfully!',\n  \n  content: {\n    title: content.title,\n    wordCount: content.meta.actualWordCount,\n    readingTime: content.readingTime,\n    seoScore: content.seoScore\n  },\n  \n  wordpress: {\n    postId: post.id,\n    postUrl: post.link,\n    editUrl: post.link.replace(/\\/?$/, '') + '/wp-admin/post.php?post=' + post.id + '&action=edit',\n    status: 'draft',\n    featuredImage: post.featured_media > 0\n  },\n  \n  seo: {\n    metaDescription: content.metaDescription,\n    tags: content.suggestedTags,\n    keywords: brief.keywords\n  },\n  \n  performance: {\n    requestId: brief.requestId,\n    generatedAt: content.meta.generatedAt,\n    processingTime: '~2-3 minutes'\n  },\n  \n  nextSteps: [\n    'Review the draft post in WordPress',\n    'Check SEO optimization',\n    'Add any custom modifications',\n    'Publish when ready'\n  ]\n};\n\nreturn { json: response };"
      },
      "id": "b1ae1f0b-6f56-44c5-b55c-c11ddb50fe9d",
      "name": "Generate Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        48
      ],
      "notes": "RESPONSE GENERATION: Creates detailed success message.\n\nIncludes:\n- Content details (title, word count, reading time)\n- WordPress links (view, edit)\n- SEO information\n- Performance metrics\n- Next steps for user\n\nProvides direct link to edit post in WordPress admin"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "b05bdd55-1030-4803-9c94-dbc655c4795f",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1552,
        320
      ],
      "notes": "FINAL RESPONSE: Returns result to webhook caller.\n\nSends formatted JSON with all details.\n\nTypical response time: 2-3 minutes\n- Content generation: 30-60s\n- Image generation: 30-45s\n- WordPress API calls: 10-20s\n- Processing: 10-20s"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional SEO content writer creating high-quality blog posts. Always return valid JSON with no markdown formatting.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a {{ $json.wordCount }}-word {{ $json.contentType }} post about: \\\"{{ $json.topic }}\\\"\\n\\nContent Requirements:\\n- Tone: {{ $json.tone }}\\n- Target keywords: {{ $json.keywords.join(', ') }}\\n- Word count: {{ $json.wordCount }} words\\n- Include H2 and H3 headings\\n- SEO optimized\\n\\nStructure:\\n1. Engaging introduction (hook + preview)\\n2. Main sections with H2 headings\\n3. Subsections with H3 headings where appropriate\\n4. Conclusion with call-to-action\\n\\nSEO Requirements:\\n- Primary keyword in title and first paragraph\\n- Natural keyword distribution (1-2% density)\\n- Meta description (155 characters max)\\n- Suggested tags (5-7)\\n\\nReturn ONLY this JSON (no markdown, no code blocks, no extra text):\\n{\\n  \\\"title\\\": \\\"Compelling SEO title (60 chars max)\\\",\\n  \\\"content\\\": \\\"Full article content with HTML formatting (<h2>, <h3>, <p>, <strong>, <em>, <ul>, <li>)\\\",\\n  \\\"excerpt\\\": \\\"Brief summary (150 words)\\\",\\n  \\\"metaDescription\\\": \\\"SEO meta description (155 chars)\\\",\\n  \\\"suggestedTags\\\": [\\\"tag1\\\", \\\"tag2\\\", \\\"tag3\\\", \\\"tag4\\\", \\\"tag5\\\"],\\n  \\\"readingTime\\\": \\\"estimated minutes\\\",\\n  \\\"seoScore\\\": \\\"Brief SEO analysis\\\"\\n}\\n\\nIMPORTANT:\\n- Use HTML for formatting\\n- Make content valuable and actionable\\n- Include examples and tips\\n- Natural, engaging writing style\\n- Return ONLY the JSON object\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4000\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        -272
      ],
      "id": "4351a92b-916b-4d6f-a537-b19c105a77a4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Get the response from Groq\nconst groqResponse = $input.item.json;\n\n// Extract the AI message from Groq's response structure\nconst aiMessage = groqResponse.choices[0].message.content;\n\n// Parse the JSON content\nlet content;\ntry {\n  // Remove any markdown code blocks if present\n  const cleanedMessage = aiMessage.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Parse JSON\n  content = JSON.parse(cleanedMessage);\n  \n} catch (error) {\n  // If parsing fails, create a basic structure\n  console.log('JSON parse error:', error);\n  content = {\n    title: \"Generated Content\",\n    content: aiMessage,\n    excerpt: aiMessage.substring(0, 150),\n    metaDescription: aiMessage.substring(0, 155),\n    suggestedTags: [\"wordpress\", \"blog\"],\n    readingTime: \"3 minutes\",\n    seoScore: \"Needs review\"\n  };\n}\n\n// Validate required fields\nif (!content.title || !content.content) {\n  throw new Error('AI response missing required fields (title or content)');\n}\n\n// Return formatted content\nreturn {\n  json: {\n    title: content.title,\n    content: content.content,\n    excerpt: content.excerpt || content.content.substring(0, 150),\n    metaDescription: content.metaDescription || content.excerpt?.substring(0, 155),\n    suggestedTags: content.suggestedTags || [],\n    readingTime: content.readingTime || \"3 minutes\",\n    seoScore: content.seoScore || \"Good\",\n    wordCount: content.content.split(' ').length\n  }\n};\n\n\n \n "
      },
      "id": "fbee1fb1-5314-4a7b-a7e8-3874f455540c",
      "name": "Parse & Validate Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -272
      ],
      "notes": "QUALITY CHECK: Validates AI-generated content.\n\nChecks:\n✓ Title exists and is reasonable length\n✓ Meta description ≤ 155 chars\n✓ Minimum word count met (100 words)\n✓ Valid JSON structure\n\nAdds metadata:\n- Generation timestamp\n- Actual vs target word count\n- Request tracking ID\n\nFails gracefully if quality issues detected"
    }
  ],
  "pinData": {},
  "connections": {
    "Content Request Webhook": {
      "main": [
        [
          {
            "node": "Validate Content Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Content Brief": {
      "main": [
        [
          {
            "node": "AI Featured Image Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Featured Image Generator": {
      "main": [
        [
          {
            "node": "Upload Image to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to WordPress": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post": {
      "main": [
        [
          {
            "node": "Generate Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Tags": {
      "main": [
        [
          {
            "node": "Assign Tags to Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Tags to Post": {
      "main": [
        []
      ]
    },
    "Generate Success Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse & Validate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Content": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}